@charset "utf-8";
/* CSS Document */


.important {
	background-color: #3B3B3B;
	font-weight: ;
	color: #000000 ;
	
}


.highlight {
	color: #FFF500 ;
	
}


img {
	background-color: forestgreen;
	border: thick;
	
}


body {
	background-color: #020202;
	text-align: justify;
	
}


nav {
	background-color: #;
	color: #;
	text-align: center;
	
}


p {
	background-color: #267625 ;
	border:thick;
	margin:  ;
	padding: ;
	font: "Verdana";
	color: #FFFFFF ;
	
}


ol {
	background-color: # ;
	color: ##009615 ;	
	text-align:inherit;
	
}


li {
	background-color: # ;
	color: #009615 ;
	text-align:inherit;
	
}


ul {
	color: white;
	
}


h1 {
	font-style: bolder;
	color: #20781D;
	text-align: center;
	
}


h2 {
	font-style: bolder;
	color: #20781D;
	text-align: ;
}



